/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth scroll;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1. Làm từ ngoài vào trong
2. Làm từ trên xuống dưới
3. Từ tổng quan đến chi tiết 
*/

/* 
1. Vị trí 
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuống,...)
*/

.clear {
    clear: both;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 10px 12px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.pull-right {
    float: right;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.text-white {
    color: #fff !important;
}

.row {
    margin-left: -8px;
    margin-top: -8px;
}
.row::after {
    content: "";
    display: block !important;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-third {
    width: calc(100% / 3);
}

.col-full {
    width: 100%;
}

#main {
    
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 100;
}

#nav{
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;

}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;

}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .search-btn {
    float: right;
    line-height: 46px;
    padding: 0 28px;
    cursor: pointer;
}

#header .search-btn:hover {
    background-color: #f44336;
}

#header .search-btn .search-icon {
    color: #fff;
}

#nav .subnav {
    min-width: 160px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;

}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /* padding theo tỉ lệ ảnh (50% chiều rộng <=> tỉ lệ 2:1) */
    background: url('/First_Web/W3_band/assets/img/chicago.jpg')
    top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}
/* 3 cách chỉnh căn giữa của text content 
1. width: 100%;
2. left: 0;
   right: 0;
3. left: 50%;
   transform: translateX(-50%);
*/

#slider .text-heading {
    font-weight: 100;
    font-size: 24;
}

#slider .text-description {
    margin-top: 25px;
    font-size: 15;
}


#content {

}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
}

#content .section-heading {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 15px;
    opacity: 0.6;
}

#content .about-text {
    text-align: justify;
    line-height: 1.3;
}

#content .member-list {
    margin-top: 48px;
}

#content .member-item {
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

#content .member-name {
    margin-bottom: 15px;
}

#content .member-img {
    width: 154px;
    border-radius: 4px;

}
/* Tour section */
.tour-section {
    background-color: #000;
}

.tour-section .tickets-list {
    margin-top: 40px;
    background-color: #fff;
    color: #757575;
    list-style: none;
}

.tickets-list li {
    padding: 14px 16px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

.tickets-list .sold-out {
    background-color: red;
    color: #fff;
    padding: 2px 4px;
    font-size: 15px;
    margin: 0 15px;
}

.tickets-list .quantity {
    background-color: #000;
    font-size: 15px;
    color: #fff;
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}

/* Places section */

.place-list {
    margin: 32px -8px;
}

.place-list .place-item {
    float: left;
    width: calc(100% / 3);
    padding: 0 8px;
}

.place-list .place-img {
    display: block;
    width: 100%;
}

.place-list .place-img:hover {
    opacity: 0.6;
}

.place-list .place-body {
    background-color: #fff;
    padding: 16px;
}

.place-list .place-heading {

}

.place-list .place-time {
    margin-top: 16px;
    opacity: 0.6;
}

.place-list .place-description {
    margin-top: 16px;

}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 300px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background-color: #009688;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    letter-spacing: 5px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 10px;
    opacity: 0.8;
}

.modal-close:hover {
    opacity: 1;
    color: #fff;
    cursor: pointer;
}

.modal-header-icon {
    margin-right: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
}

.modal-body {
    padding: 16px;
}

.modal-input {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    margin-bottom: 24px;
    margin-top: 10px;
}

#buy-tickets {
    background-color: #009688;
    border: none;
    color: #fff;
    font-size: 20px;
    width: 100%;
    text-transform: uppercase;
    padding: 20px;
}

#buy-tickets:hover {
    opacity: 0.9;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal.open {
    display: flex;
}

@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* contact form*/
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;

}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 16px;
    border: 1px solid #ccc;
    float: right;
    margin-right: 6px;
}

/* Map section */
.map-section img {
    width: 100%;
}

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .copyright a,
#footer .socials-list a {
    color: #757575;
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a:hover {
    opacity: 0.6;
}

#footer .copyright {
    margin-top: 16px;
    color: #757575;
}

form {
    margin-right: -4px;
}

input.btn.pull-right.mt-16 {
    margin-right: 4px;
}
