/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1. Làm từ ngoài vào trong
2. Làm từ trên xuống dưới
3. Từ tổng quan đến chi tiết 
*/

/* 
1. Vị trí 
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuống,...)
*/

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

#main {
    
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 100;
}

#nav{
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;

}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;

}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .search-btn {
    float: right;
    line-height: 46px;
    padding: 0 28px;
    cursor: pointer;
}

#header .search-btn:hover {
    background-color: #f44336;
}

#header .search-btn .search-icon {
    color: #fff;
}

#nav .subnav {
    min-width: 160px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;

}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /* padding theo tỉ lệ ảnh (50% chiều rộng <=> tỉ lệ 2:1) */
    background: url('/First_Web/W3_band/assets/img/chicago.jpg')
    top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}
/* 3 cách chỉnh căn giữa của text content 
1. width: 100%;
2. left: 0;
   right: 0;
3. left: 50%;
   transform: translateX(-50%);
*/

#slider .text-heading {
    font-weight: 100;
    font-size: 24;
}

#slider .text-description {
    margin-top: 25px;
    font-size: 15;
}


#content {

}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

#content .section-heading {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 15px;
    opacity: 0.6;
}

#content .about-text {
    text-align: justify;
    line-height: 1.3;
}

#content .member-list {
    margin-top: 48px;
}

#content .member-item {
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

#content .member-name {
    margin-bottom: 15px;
}

#content .member-img {
    width: 154px;
    border-radius: 4px;

}
/* Tour section */
.tour-section {
    background-color: #000;
}

.tour-section .tickets-list {
    margin-top: 40px;
    background-color: #fff;
    color: #757575;
    list-style: none;
}

.tickets-list li {
    padding: 14px 16px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

.tickets-list .sold-out {
    background-color: red;
    color: #fff;
    padding: 2px 4px;
    font-size: 15px;
    margin: 0 15px;
}

.tickets-list .quantity {
    background-color: #000;
    font-size: 15px;
    color: #fff;
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}

/* Places section */

.place-list {
    margin: 32px -8px 48px;
}

.place-list .place-item {
    float: left;
    width: calc(100% / 3);
    padding: 0 8px;
}

.place-list .place-img {
    display: block;
    width: 100%;
}

.place-list .place-img:hover {
    opacity: 0.6;
}

.place-list .place-body {
    background-color: #fff;
    padding: 16px;
}

.place-list .place-heading {

}

.place-list .place-time {
    margin-top: 16px;
    opacity: 0.6;
}

.place-list .place-description {
    margin-top: 16px;

}

.place-list .place-buy-ticket {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 10px 12px;
    display: inline-block;
    margin-top: 15px;
}

.place-list .place-buy-ticket:hover {
    color: #000;
    background-color: #ccc;
}

/* Footer section */
#footer {

}
